@charset 'utf-8';

body{
	background-image: url('imagens/fundo.png');
	margin-top: 0px; 
}

#interface{
	background-color: white;
	width: 60%;
	height: 800px;
	margin: auto;
}

h1{
	vertical-align: 100%;
	display: inline;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

img{
	height: 150px;
}

.lista{
	color: black;
	text-decoration: none;
}

#listas{
	margin-top: 40px; 
	padding: 20px 150px;
	display: inline-block;
	border: 2px solid gray;
}