@charset 'utf8';

h3{
	margin: 30px 0px;
}

input{
	margin-bottom: 25px;
}

div.formulario{
	display: inline-block;
	text-align: right;
	padding: 0px;
}

th{
	border: 1px solid black;
}